/** @format */

.portfolio {
  background: #f6f6f6;
  text-align: center;
}
.title {
  font-family: "Gilroy-B";
  font-size: 34px;
  padding-top: 110px;
  padding-bottom: 45px;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.img {
  max-width: 935px;
}
.link {
  text-decoration: underline;
  font-size: 18px;
  color: #000;
  padding-top: 45px;
}

@media (max-width: 576px) {
  .block {
    margin-bottom: 75px;
  }
}
