/** @format */

.about {
  background: #f6f6f6;
  text-align: center;
}
.title {
  font-family: "Gilroy-B";
  font-size: 34px;
  padding-top: 120px;
}

.discriptions {
  display: block;
  margin: 0 auto;
  max-width: 485px;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 105px;
}

.span {
  display: block;
  padding-top: 50px;
}
@media (max-width: 576px) {
  .title {
    padding-top: 80px;
  }
  .discriptions {
    padding-bottom: 75px;
  }
}
